{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/channels_page.css') }}">
<script src="https://kit.fontawesome.com/80c51aa779.js" crossorigin="anonymous"></script>


</head>
<body>

  <!-- Side menu-->
  <div class="sidebar">
    <div class="top">
      <div class="title">
        <i class="fa-solid fa-leaf fs-5"></i>
        <span> Mango Chat </span>
      </div>
      <i class="fa-solid fa-leaf " id="btn"></i>

      <ul>
        <li>
          <a href="{{ url_for('user')}}">
            <i class="fa-solid fa-user fs-5"></i>
            <span class="nav-item">Profile</span>
          </a>
          <span class="collapsed"> Profile</span>
        </li>

        <li>
          <a href="{{ url_for('Friendspage') }}">
            <i class="fa-solid fa-user-group fs-5"></i>
            <span class="nav-item">Friends</span>
          </a>
          <span class="collapsed"> Friends</span>
        </li>

        <li>
          <a href="{{ url_for('channels') }}">
            <i class="fa-solid fa-comments fs-5"></i>
            <span class="nav-item">Channels</span>
          </a>
          <span class="collapsed"> Channels</span>
        </li>

        <li>
          <a href="#">
            <i class="fa-solid fa-gears fs-5"></i>
            <span class="nav-item">Settings</span>
          </a>
          <span class="collapsed">Settings</span>
        </li>

        <li>
          <a href="{{ url_for('login') }}">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav-item">Logout</span>
          </a>
          <span class="collapsed"> Logout</span>
        </li>
      </ul>

    </div>
  </div>

  <div class="main-content">
    <!-- CREATE CUSTOM BUTTON OUT OUT OF CHANNEL BOX CLASS-->

    <div class="header">
      <h1>Channels</h1>
      <form action="" novalidate>
        <div class="form-group">
          <!--header search bar-->
          <label for="Channel">Search:</label>
          <input type="text" id="Channel" name="Channels">
        </div>
      </form>
      <button class="show-popup">Add channel</button>
      <div class="popup-container">
        <div class="popup-box">
          <h1>Add Channel</h1>
          <p>
          Please Input Channel name:
          <form action="/create_channel" method="POST" novalidate>
            {{ channelform.csrf_token }}
            <div class="form-group">
              <!-- Channel search bar-->
              {{ channelform.channel_name.label }} {{ channelform.channel_name(size=20) }}
              {{ channelform.chansubmit(size=20, class_="close-btn") }}
              <!-- <label for="Channel">Channel name:</label> -->
              <!-- <input type="text" id="Channel" name="Channels"> -->
            </div>
          </form>
          </p>
          <!-- <button class="close-btn">Confirm</button> -->
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class= "grid-container">

    <div class="channel-container">

      <div class="channel-column">Channel {{ channel_id }}</div>

      <div class="channel-column">
        <button class="show-popup" style = "background-color: #F4BB44;">remove channel</button>
        <div class="popup-container">
          <div class="popup-box">
            <h1>Add Channel</h1>
            <p>
            Please Input Channel name:
            <form action="" novalidate>
              <div class="form-group">
                <!-- Friend search bar-->
                <label for="Channel">Channel name:</label>
                <input type="text" id="Channel" name="Channels">
              </div>
            </form>
            </p>
            <button class="close-btn">Confirm</button>
          </div>
        </div>
      </div>


</body>

<script>


  // modal code
  const showPopup = document.querySelector('.show-popup');
  const popupContainer = document.querySelector('.popup-container');
  const closeBtn = document.querySelector('.close-btn');
  showPopup.onclick = () => {
    popupContainer.classList.add('active');
  }
  closeBtn.onclick = () => {
    popupContainer.classList.remove('active');
  }

  ChannelModalOpen.addEventListener('click', () => { modalcontainer.classList.add('show')});
  confrirm.addEventListener('click', () => { modalcontainer.classList.remove('show')});


  // sidebar open/close
  let btn = document.querySelector('#btn');
  let sidebar = document.querySelector('.sidebar');

  btn.onclick = function () {
    sidebar.classList.toggle('active');
  }

</script>
</script>
</html>

{% endblock %}
