{% extends "base.html" %}

{% block content %}
<link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet">
<!-- Header Page-->
<div class="container-fluid bg-success text-white text-center overflow-hidden">
  <h1> Channels</h1>
  <div class="row">
    <div class="col-sm-6">
      <!-- Add channel button connects to modal-->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddChannel">Add
        Channels</button>
    </div>
    <div class="col-sm-6">
      <form action="" method="POST" novalidate>
        <div class="form-group">
          <!-- channel search bar-->
          <label for="ChannelName">Search:</label>
          <input type="text" id="ChannelName" name="ChannelName" required>
        </div>
      </form>
    </div>
  </div>
</div>

<body>

  <!-- color wanted  style = "color: FF8700"-->
  <!-- Side menu-->
  <div class="sidebar">
    <div class="top">
      <div class="title">
        <i class="fa-solid fa-leaf fs-5"></i>
        <span> Mango Chat </span>
      </div>
      <i class="fa-solid fa-leaf " id="btn"></i>

      <ul>
        <li>
          <a href="/user">
            <i class="fa-solid fa-user fs-5"></i>
            <span class="nav-item">Profile</span>
          </a>
          <span class="collapsed"> Profile</span>
        </li>

        <li>
          <a href="/Friendspage">
            <i class="fa-solid fa-user-group fs-5"></i>
            <span class="nav-item">Friends</span>
          </a>
          <span class="collapsed"> Friends</span>
        </li>

        <li>
          <a href="\Channels-Page">
            <i class="fa-solid fa-comments fs-5"></i>
            <span class="nav-item">Channels</span>
          </a>
          <span class="collapsed"> Channels</span>
        </li>

        <li>
          <a href="#">
            <i class="fa-solid fa-gears fs-5"></i>
            <span class="nav-item">Settings</span>
          </a>
          <span class="collapsed">Settings</span>
        </li>

        <li>
          <a href="/login">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav-item">Logout</span>
          </a>
          <span class="collapsed"> Logout</span>
        </li>
      </ul>

    </div>
  </div>

  <div class="main-content">

    <div class="grid-container">
      <div>Channel 1 </div>
      <div>Channel 2</div>
      <div>Channel 3</div>
      <div>Channel 4</div>
      <div>Channel 5</div>
      <div>Channel 6</div>

    </div>
  </div>



  <!-- add freind modal-->
  <div class="modal fade" id="Leaveserver" tabindex="-1" aria-labelledby="Leaveserver" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="Confirmation">Add Channels</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

</body>

<script>
  let btn = document.querySelector('#btn');
  let sidebar = document.querySelector('.sidebar');

  btn.onclick = function () {
    sidebar.classList.toggle('active');
  }
</script>


{% endblock %}
