
<html>
    <head> 

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 ">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/80c51aa779.js" crossorigin="anonymous"></script> 

</head>

<!-- Header Page-->
<div class = "container-fluid bg-dark text-white text-center border">
    <h1> Friends list</h1>
    <div class="row">
        <div class="col-sm-6">
          <!-- Add friend button connects to modal-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddFriend">Add Friend</button>
    </div>
    <div class="col-sm-6">
    <form action="" method="POST" novalidate>
        <div class="form-group">
          <!-- Friend search bar-->
            <label for="username">Search:</label>
            <input type="text" id="username" name="username" required>
        </div>
            </form>
        </div>
    </div>
</div>

<body>
 <!-- Side menu-->
    <div class = "container-fluid">
      <div class="overflow-auto">
        <div class = "row flex-nowrap">
          <!-- automatic scaling of colum for the side bar as well as spacing-->
            <div class= "bg-dark col-auto col-md-2 min-vh-100">
                <a class = "d-flex mt-1 align-items-center text-white">
                    <span class = "fs-4 d-sm-inline"> SideMenu</span>
                </a>
                <!-- Side bar buttons-->
                <ul class = "nav nav-pills flex-column mt-4">
                    <li class = "nav-item">
                        <a href = "#" class = "nav-link text-white"> 
                            <i class = "fa-solid fa-user fs-5"></i>
                                <span class = " fs-4 ms-1 d-sm-inline">Profile</span>
                            </a>
                    </li>
                    <li class = "nav-item py-2 py-sm-0">
                        <a href = "#" class = "nav-link text-white"> 
                            <i class = "fa-solid fa-user-group fs-5"></i>
                                <span class = " fs-4 ms-1 d-sm-inline">Friends</span>
                            </a>
                    </li>
                    <li class = "nav-item py-2 py-sm-0">
                        <a href = "#" class = "nav-link text-white"> 
                            <i class = "fa-solid fa-comments fs-5"></i>
                                <span class = " fs-4 ms-1 d-sm-inline">Channels</span>
                            </a>
                    </li>
                    <li class = "nav-item py-2 py-sm-0">
                        <a href = "#" class = "nav-link text-white"> 
                            <i class = "fa-solid fa-gears fs-5"></i>
                                <span class = " fs-4 ms-1 d-sm-inline">Settings</span>
                            </a>
                    </li>
                    <li class = "nav-item py-2 py-sm-0">
                        <a href = "#" class = "nav-link text-white"> 
                            <i class = "fa-solid fa-right-from-bracket fs-5"></i>
                                <span class = " fs-4 ms-1 d-sm-inline">Logout</span>
                            </a>
                    </li>
                </ul>
            </div>
                <!--The Friend cards, anything inputted here will appear beside the side bar and is available to scroll 10 example cards are currently made-->
            <div class="row row-cols-5 rows-cols-md-2 g-2">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">John Smith</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                          <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                          <a href="#" class="btn btn-primary">Invite</a>
                        </div>
                      </div>
                </div>


                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">John Smith</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                          <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                          <a href="#" class="btn btn-primary">Invite</a>
                        </div>
                      </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>


                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://sicarfarms.com/wp-content/uploads/2021/01/Mango.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">John Smith</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tempor mi, sed dapibus ligula.</p>
                              <button type="button" class="btn btn-Danger" data-bs-toggle="modal" data-bs-target="#Confirmation">Remove Friend</button>
                              <a href="#" class="btn btn-primary">Invite</a>
                            </div>
                          </div>
                    </div>
            </div>

                <!-- Popup modals when buttons are clicked, at current it is a Remove friend and a search bar for adding friends to the page (non functional)-->
            <div class="modal fade" id="Confirmation" tabindex="-1" aria-labelledby="ConfirmationLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ConfirmationLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                   Are you sure you would like to remove John Smith as your Friend?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-Success" data-bs-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                  </div>
                </div>
              </div>
            </div>
              <!-- add freind modal-->
            <div class="modal fade" id="AddFriend" tabindex="-1" aria-labelledby="FriendSearch" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="FriendSearch">Add Friend</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- freind searchbar in the modal -->
                    <form action="" method="POST" novalidate>
                      <div class="form-group">
                          <label for="username">Search:</label>
                          <input type="text" id="username" name="username" required>
                      </div>
                          </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-Success" data-bs-dismiss="modal">Send Friend request</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
  </div>
</body>

</html>

