<!DOCTYPE html>
<html lang="en">


<head>
    <title>MangoChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <script src="https://kit.fontawesome.com/80c51aa779.js" crossorigin="anonymous"></script>
</head>

<style>
  body {
      background-color: orange; 
  }
</style>
<body>

  <div class="sidebar">
    <div class="top">
      <div class="title">
        <i class="fa-solid fa-leaf fs-5"></i>
        <span> Mango Chat </span>
      </div>
      <i class="fa-solid fa-leaf " id="btn"></i>

      <ul>
        <li>
          <a href="{{ url_for('user')}}">
            <i class="fa-solid fa-user fs-5"></i>
            <span class="nav-item">Profile</span>
          </a>
          <span class="collapsed"> Profile</span>
        </li>

        <li>
          <a href="{{ url_for('Friendspage') }}">
            <i class="fa-solid fa-user-group fs-5"></i>
            <span class="nav-item">Friends</span>
          </a>
          <span class="collapsed"> Friends</span>
        </li>

        <li>
          <a href="{{ url_for('channels') }}">
            <i class="fa-solid fa-comments fs-5"></i>
            <span class="nav-item">Channels</span>
          </a>
          <span class="collapsed"> Channels</span>
        </li>

        <li>
          <a href="{{ url_for('home') }}">
            <i class=i class="fa-solid fa-house fs-5"></i>
            <span class="nav-item">Home</span>
          </a>
          <span class="collapsed">Home</span>
        </li>

        <li>
          <a href="{{ url_for('login') }}">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav-item">Logout</span>
          </a>
          <span class="collapsed"> Logout</span>
        </li>

        <li>
          <a href="{{ url_for('login') }}">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav-item">login</span>
          </a>
          <span class="collapsed"> Login</span>
        </li>

      </ul>

    </div>
  </div>

  
<div class="display-center" >
	<img src="{{ url_for('static', filename='images/mango.jpg') }}" alt="Mangochat logo" id="logo">
      <h1>Welcome to MangoChat</h1>
      <p><b>Connect and engange with your friends!</b></p>  
	  <p style="width: 50%;">MangoChat is an online community where you can connect with friends, join channels of interest, and engage in discussions. Our platform offers a user-friendly interface, real-time messaging, and a variety of features to enhance your communication experience.</p> 
	  <p>Join us today and start chatting!</p>
</div>


<footer>
  <h3>MangoChat &copy; 2024</h3>
  <p>Why we are better then Discord</p>
</footer>



</body>
</html>