{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<div class="top">
    <a href="#home" class="bar-item button padding-large">HOME</a>
    <a href="#settings" class="bar-item button padding-large">CHANNELS</a>
    <a href="#channels" class="bar-item button padding-large">FRIENDS</a>
    <a href="#settings" class="bar-item button padding-large">MESSAGES</a>
    <a href="user" class="bar-item button padding-large">SETTINGS</a>
</div>
    {% include "navbar.html" %}

    <div class="main-content">
        <div class="display-center">
            <img src="{{ url_for('static', filename='images/mango.jpg') }}" alt="Mangochat logo" id="logo">
            <h1>Welcome to MangoChat</h1>
            <p><b>Connect and engange with your friends!</b></p>  
            <p style="width: 50%;">MangoChat is an online community where you can connect with friends, join channels of interest, and engage in discussions. Our platform offers a user-friendly interface, real-time messaging, and a variety of features to enhance your communication experience.</p> 
            <p>Join us today and start chatting!</p>
        </div>

        <footer>
            <h3>MangoChat &copy; 2024</h3>
            <p>Why we are better then Discord</p>
        </footer>
    </div>

{% endblock %}
