{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<header>
  <h1>MangoChat</h1>
</header>
<div class="background-wrapper">
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <img src="{{ url_for('static', filename='images/mango.jpg') }}" alt="Mangochat logo" id="logo">
      <header>Login</header>
      <form action="/login" method="post" name="loginForm">
        {{ logform.username.label }} {{ logform.username(size=20) }}
        {{ logform.password.label }} {{ logform.password(size=20) }}
        <div class="logerror">
          {{ error }}
        </div>
          {{ regform.regsubmit(size=20) }}
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
          <label for="check">Register</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <img src="{{ url_for('static', filename='images/mango.jpg') }}" alt="Mangochat logo" id="logo">
      <header>Register</header>
        <form action="/register" method="post" name="registerForm">
          {{ regform.username.label }} {{ regform.username(size=20) }}
          {{ regform.password.label }} {{ regform.password(size=20) }}
          {{ regform.confirm_password.label }} {{ regform.confirm_password(size=20) }}
          <div class="logerror">
            {{ error }}
          </div>
          {{ regform.regsubmit(size=20) }}
        </form>
        <div class="signup">
          <span class="signup">Already have an account?
            <label for="check">Login</label>
          </span>
        </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
