{% extends "base.html" %}

{% block content %}
<div class="container">
    <img src="{{ url_for('static', filename='images/mango.jpg') }}" alt="Mangochat logo" id="logo">
    <h2>Login Page</h2>
    <form action="/login" method="POST" novalidate>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            {{ error }}
        </div>
        <a href="project\templates\user.html" type="submit" class="btn btn-primary" >Login</button>

    </form>
</div>
{% endblock %}
