body {
    background-color: orange   ; 
  color: black; 
}
.avatar {
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
}
.dropdown-menu {
  background-color: orange;
}
.dropdown-item {
  color: black;
}
.dropdown-item:hover {
  background-color: yellow;
}
.editable {
  cursor: pointer;
  border: 1px solid yellow; 
  padding: 5px;
  border-radius: 5px; 
  display: inline-block; 
  width: calc(100% - 10px); 
  margin-top: 5px; 
  margin-bottom: 5px; 
  background-color: rgb(260, 180, 60); 
}
.btn-online {
  background-color: #28a745; 
  color: black;
}

.btn-donotdisturb {
  background-color: #ffc802; 
  color: black;
}
.profile-section {
  border: 1px solid rgb(260, 180, 60); 
  padding: 10px;
  border-radius: 5px; 
  margin-bottom: 15px; 
}
.profile-header {
  border: 2px solid rgb(260, 180, 60); 
  display: flex;        
  align-items: center;  
  justify-content: space-between; 
  width: 100%;   
  flex-grow: 1;   
}
.aboutme-section {
  border: 2px solid rgb(260, 180, 60); 
  display: flex;
  flex-direction: column;
}
.text-right {
  width: 100%; /* Takes full width of its container */

 align-items: right; /* Aligns the button to the right */
}
.btn-link {
  width: 40px;
  padding: 10px 5px; /* Adjust padding to increase size */
  font-size: 16px; /* Adjust font size if necessary */
}
.btn-link .fa-pencil-alt {
  font-size: 14px; 
}
#username {
  color: black;
}